<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' href='/webjars/bootstrap/3.1.0/css/bootstrap.min.css'
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>

<body>
<div th:include="fragments/menu :: top-menu"></div>
<div class="container">
    <div class="container-fluid">
        <div class="jumbotron">
            <h2 align="center">Spring Boot, Thymeleaf, Bootstrap example</h2>
            <p>this is a simple example</p>
        </div>
    </div>
</div>
</body>

</html>